[user]
    name = {{ .gitName }}
    email = {{ .gitEmail }}

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore
{{ if (lookPath "delta") }}
    pager = delta -s
{{ end }}

[pull]
    rebase = false

[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto

[delta]
    line-numbers = true
    navigate = true
    hyperlinks = true
    paging = auto
    dark = true
    word-diff = true
    true-color = always
    width = variable
    syntax-theme = Catppuccin Mocha
    minus-style = "syntax #{{ .colors.diff.minus }}"
    minus-emph-style = "syntax #{{ .colors.diff.minus_emph }}"
    plus-style = "syntax #{{ .colors.diff.plus }}"
    plus-emph-style = "syntax #{{ .colors.diff.plus_emph }}"
    zero-style = "syntax"
    line-numbers-minus-style = #{{ .colors.diagnostic.error }}
    line-numbers-plus-style = #{{ .colors.syntax.string }}
    line-numbers-zero-style = #{{ .colors.ui.border }}
    commit-style = "#{{ .colors.syntax.number }} bold"
    commit-decoration-style = "#{{ .colors.ui.surface }} ol"
    file-style = #{{ .colors.diff.file }}
    file-decoration-style = ""
    hunk-header-style = "#{{ .colors.diff.hunk }} bold"
    hunk-header-decoration-style = ""
    hunk-header-file-style = #{{ .colors.diff.file }}
    hunk-header-line-number-style = #{{ .colors.diff.hunk }}
    inline-hint-style = #{{ .colors.diff.hint }}
    blame-palette = "{{ .colors.diff.blame_1 }} {{ .colors.diff.blame_2 }} {{ .colors.diff.blame_3 }} {{ .colors.diff.blame_4 }} {{ .colors.diff.blame_5 }}"
    blame-code-style = "syntax"
    blame-separator-style = #{{ .colors.diff.separator }}
    blame-separator-format = "{n:^4} │"
