{{- $username := promptString "username" -}}
{{- $gitName := promptString "gitName" "Spencer Christensen" -}}
{{- $gitEmail := promptString "gitEmail" "134820811+spencer-cc@users.noreply.github.com" -}}
{{- $networkFileShare := promptBoolOnce . "networkFileShare" "network file share" false -}}

[data]
    username = {{ $username | quote }}
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
    networkFileShare = {{ $networkFileShare }}
